*{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:Arial,sans-serif;
  background:#07111f;
  color:white;
}

header{
  text-align:center;
  padding:25px 15px;
  background:#0d1b2d;
}

header h1{
  margin:0;
  font-size:34px;
}

header p{
  margin:7px 0;
  color:#9fb3c8;
}

header span{
  font-weight:bold;
}

main{
  max-width:700px;
  margin:auto;
  padding:15px;
}

.card{
  background:#101f32;
  border-radius:18px;
  padding:18px;
  margin-bottom:18px;
  text-align:center;
}

h2{
  margin-top:0;
}

#status,#fileStatus{
  color:#9fb3c8;
  margin:10px;
}

.counter{
  font-size:70px;
  font-weight:bold;
  margin:5px;
}

.counter.small{
  font-size:55px;
}

.progressNumber{
  font-size:50px;
  font-weight:bold;
}

video{
  width:100%;
  max-height:500px;
  background:black;
  border-radius:15px;
  margin-top:10px;
}

#canvas{
  display:none;
}

button{
  border:0;
  border-radius:12px;
  padding:13px 16px;
  margin:5px;
  background:#1677ff;
  color:white;
  font-size:15px;
  font-weight:bold;
}

button:active{
  transform:scale(.97);
}

input{
  width:100%;
  padding:14px;
  background:white;
  border-radius:10px;
  margin:10px 0;
}

hr{
  border:0;
  border-top:1px solid #29415d;
  margin:18px 0;
}

@media(max-width:500px){
  header h1{
    font-size:29px;
  }

  .counter{
    font-size:60px;
  }

  button{
    width:100%;
    margin:5px 0;
  }
}